<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Regular Expression Matching</title>
<link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='styles1.css') }}">
</head>
<body>

<div class="container">
    <header>
        <h1>Regular Expression Matching</h1>
    </header>
    <main>
        <form id="regexForm" action="/results" method="POST">
            <label for="pattern">Regular Expression:</label>
            <input type="text" id="pattern" name="pattern" placeholder="Enter regular expression">

            <label for="string">Text:</label>
            <textarea id="string" name="string" rows="5" placeholder="Enter text to match"></textarea>

            <button type="submit">Match</button>
        </form>
        <h1>Matched values</h1>
        <ul>
            <span style="color:red;">
            {% for value in ans %}
                <li>{{ value }}</li>
            {% endfor %}
        </span>
        </ul>
    </main>
</div>

</body>
</html>
